html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.linkGrid {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.FAQGrid {
    display: flex;
    justify-content: space-between;
    column-gap: 1em;
    row-gap: 1em;
    flex-wrap: wrap;
}

.box{
    width: 250px;
    height: 250px;
    text-align: center;
}